* {
    margin: 0px;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
}

body {
    display: flex;
    justify-content: center;
    background-color: #9ee37d;
}

h1 {
    width: 100%;
    text-align: center;

    border-bottom: 3px solid #c2baba;
    background-color: #208030;
}

.content {
    box-sizing: border-box;

    width: 500px;
    height: calc(100vh - 20px);
    background-color: #FFF;
    margin: 10px 0px;
    overflow: auto;
}

.menu {
    width: 100%;
}

ul {
    width: inherit;
    list-style: none;
}

li {
    width: inherit;
    transition: background-color 0.3s, color 0.3s;
}

li:hover {
    background-color: #63c132;
    color: #FFF;
}

a {
    display: block;
    padding: 12px 0px 12px;

    text-align: center;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 18px;

    width: inherit;
}